<?xml version="1.0" encoding="UTF-8"?>
<!--
    phpunit.xml.dist - Distribution template with placeholder credentials.
    Copy to phpunit.xml and fill in your local test database credentials.
    phpunit.xml must NOT be committed to the repository.
-->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         beStrictAboutOutputDuringTests="true"
         failOnRisky="true"
         failOnWarning="true"
         failOnDeprecation="false">
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
            <exclude>tests/Unit/Model/cMessageStatisticsTest.php</exclude>
            <exclude>tests/Unit/Model/cUserStatisticsTest.php</exclude>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/Integration</directory>
        </testsuite>
    </testsuites>

    <php>
        <env name="TEST_DB_HOST" value="127.0.0.1"/>
        <env name="TEST_DB_NAME" value="pxmboard_test"/>
        <env name="TEST_DB_USER" value="pxmboard_test"/>
        <env name="TEST_DB_PASS" value=""/>
    </php>

    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>

    <coverage>
        <report>
            <html outputDirectory="coverage"/>
            <text outputFile="php://stdout" showOnlySummary="true"/>
        </report>
    </coverage>
</phpunit>
